services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - '3000:3000'
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    develop:
      watch:
        - path: ./frontend/package.json
          action: rebuild
        - path: ./frontend/package-lock.json
          action: rebuild
        - path: ./frontend
          target: /app
          action: sync
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend
    ports:
      - '5000:5000'
    env_file:
      - ./backend/.env
    depends_on:
      - psql
      - redis
    command: sh -c "npx prisma generate && npm run dev"
    develop:
      watch:
        - path: ./backend/package.json
          action: rebuild
        - path: ./backend/package-lock.json
          action: rebuild
        - path: ./backend
          target: /app
          action: sync
    restart: unless-stopped
    networks:
      - app-network

  psql:
    image: postgres:latest
    container_name: psql
    ports:
      - '5435:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql
    restart: unless-stopped
    networks:
      - app-network

  redis:
    image: redis:8
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - redisdata:/data
    restart: unless-stopped
    networks:
      - app-network

volumes:
  pgdata:
  redisdata:
networks:
  app-network:
    driver: bridge
